name: CI
on:
  push:
    branches-ignore:
      - 'master'
  release:
    types:
      - published
  pull_request:

jobs:
  build:
    if: ${{ github.event_name == 'push' && !startsWith(github.event.ref, 'refs/tags/') && contains(github.event.head_commit.message, '[build skip]') == false }}
    strategy:
      matrix:
        java: [ 17 ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the sources
        uses: actions/checkout@v2

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}

      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('*.gradle', 'gradle.properties', '**/*.accesswidener') }}
          restore-keys: ${{ runner.os }}-gradle-

      - name: Get short commit sha
        id: get_short_sha
        run: |
          short_sha=$(echo ${GITHUB_SHA} | cut -c1-7)
          echo "::set-output name=short_sha::$short_sha"

      - name: Read Properties plugin_name
        id: plugin_name
        uses: christian-draeger/read-properties@1.0.1
        with:
          path: gradle.properties
          property: plugin_name

      - name: Read Properties plugin_version
        id: plugin_version
        uses: christian-draeger/read-properties@1.0.1
        with:
          path: gradle.properties
          property: plugin_version

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        env:
          COMMIT_SHA: ${{ steps.get_short_sha.outputs.short_sha }}
          BUILD_TYPE: "BETA"
          BUILD_NUMBER: ${{ github.run_number }}
        run: ./gradlew build

      - name: Upload assets to GitHub Action
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.plugin_name.outputs.value }} ${{ steps.plugin_version.outputs.value }}.${{ github.run_number}}+${{ steps.get_short_sha.outputs.short_sha }}
          path: |
            LICENSE
            bungeecord/out/*.jar
            velocity/out/*.jar
            build/libs/*.jar

      - name: Create Github Release
        if: contains(github.event.head_commit.message, '[publish skip]') == false && contains(github.event.ref, 'refs/heads/exp') == false
        uses: softprops/action-gh-release@v1
        with:
          prerelease: true
          files: |
            LICENSE
            bungeecord/out/*.jar
            velocity/out/*.jar
            build/libs/*.jar
          name: "[CI#${{ github.run_number}}]${{ steps.plugin_name.outputs.value }} ${{ steps.plugin_version.outputs.value }}.${{ github.run_number}}+${{ steps.get_short_sha.outputs.short_sha }}"
          tag_name: dev-${{ github.run_number }}
          target_commitish: ${{ github.event.ref }}
          generate_release_notes: true

  publish:
    if: ${{ github.event_name == 'release' }}
    strategy:
      matrix:
        java: [ 17 ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the sources
        uses: actions/checkout@v2

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}

      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('*.gradle', 'gradle.properties', '**/*.accesswidener') }}
          restore-keys: ${{ runner.os }}-gradle-

      - name: Get short commit sha
        id: get_short_sha
        run: |
          short_sha=$(echo ${GITHUB_SHA} | cut -c1-7)
          echo "::set-output name=short_sha::$short_sha"

      - name: Read Properties plugin_name
        id: plugin_name
        uses: christian-draeger/read-properties@1.0.1
        with:
          path: gradle.properties
          property: plugin_name

      - name: Read Properties plugin_version
        id: plugin_version
        uses: christian-draeger/read-properties@1.0.1
        with:
          path: gradle.properties
          property: plugin_version

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        env:
          COMMIT_SHA: ${{ steps.get_short_sha.outputs.short_sha }}
          BUILD_TYPE: "RELEASE"
          BUILD_NUMBER: ${{ github.run_number }}
        run: ./gradlew build

      - name: Upload assets to GitHub Action
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.plugin_name.outputs.value }} ${{ steps.plugin_version.outputs.value }}.${{ github.run_number}}+${{ steps.get_short_sha.outputs.short_sha }}
          path: |
            LICENSE
            bungeecord/out/*.jar
            velocity/out/*.jar
            build/libs/*.jar

      - name: Upload assets to Github Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            LICENSE
            bungeecord/out/*.jar
            velocity/out/*.jar
            build/libs/*.jar
          tag_name: ${{ github.event.ref }}

  pull_request:
    if: ${{ github.event_name == 'pull_request' }}
    strategy:
      matrix:
        java: [ 17 ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the sources
        uses: actions/checkout@v2

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build
